.global_header, .global_header.content, #footer{
    background-color: #12151a;
}

.profile_header_bg{
    background: rgba(18,21,26,0.8);
    background-image: none;
}

.profile_header_bg_texture{
    background: transparent;
}

.profile_background_overlay_content{
    background: rgba(18,21,26,0.8);
    opacity: 1.1
}

.profile_background_image_content{
    background-position: center -240px;
}

.profile_customization{
    background-color: transparent;
    background-image: none;
}

.profile_content{
    margin-top: 0px !important; 
    padding-top: 0px !important;
}

.btn_profile_action{
    background: #08090b;
    border: 2px;
    transition: all 0.25s ease;
}

.btn_profile_action:hover{
    background: #1c2129;
    transition: all 0.25s ease;
}

.btn_profile_action>span{
    background: none !important;
}

.playerAvatar{
    background: none !important;
}

#avatar{
    border-radius: 5px;
}

.saveButton{
    background: linear-gradient(45deg, #36bbf7 0%, #702df9 100%) !important;
    opacity: 0.8;
    transition: opacity 0.25s ease;
}

.saveButton>span{
    background: none !important
}

.saveButton:hover{
    opacity: 1;
    transition: opacity 0.25s ease;
}

.saveButton>span{
    background: none;
}

.bgUrl{
    text-align: center
}

.social-likes{
    position: relative;
    left: 12%;
}

.profile_header_badgeinfo{
    position: relative;
    top: 54px;
}

#filterIn{
    border: none;
    background: #08090b;
    outline: none;
}

.underfr{
    margin: 10px 0 10px 0;
}