.global_header,
.global_header.content,
#footer {
    background-color: #12151a;
}

.profile_header_bg {
    background: rgba(18, 21, 26, 0.8);
    background-image: none;
}

.profile_header_bg_texture {
    background: transparent;
}

.profile_background_overlay_content {
    background: rgba(18, 21, 26, 0.8);
    opacity: 1.1
}

.profile_background_image_content {
    background-position: center -240px;
}

.profile_customization {
    background-color: transparent;
    background-image: none;
}

.profile_customization_header {
    height: 30px !important;
}

.profile_content {
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.btn_profile_action {
    background: #08090b;
    border: 2px;
    transition: all 0.25s ease;
}

.btn_profile_action:hover {
    background: #1c2129;
    transition: all 0.25s ease;
}

.btn_profile_action>span {
    background: none !important;
}

.playerAvatar {
    background: none !important;
}

#avatar {
    border-radius: 5px;
}

.saveButton {
    left: 5px;
    position: relative;
    width: 256px;
    height: 100%;
    text-align: center;
    background: linear-gradient(45deg, #36bbf7 0%, #702df9 100%) !important;
    transition: all 0.25s ease;
    opacity: 0.9;
}

.saveButton>span {
    background: none !important;
    top: -36px;
    opacity: 1;
    position: relative;
    font-size: 17px;
}

.saveButton:hover {
    transition: all 0.25s ease;
    opacity: 1;
}

.saveButtonShadow {
    background: linear-gradient(45deg, #36bbf7 0%, #702df9 100%);
    filter: blur(12px);
    position: relative;
    right: 1px;
    height: 42px;
    width: 258px;
}

.saveButton>span {
    background: none;
}

.bgUrl {
    text-align: center
}

.social-likes {
    position: relative;
    left: 12%;
}

.profile_header_badgeinfo {
    position: relative;
    top: 63px;
}

#filterIn {
    border: none;
    background: #08090b;
    outline: none;
    opacity: 1;
    transition: all 0.25s ease;
}

.filterHide {
    opacity: 0;
    transition: all 0.25s ease;
}

.underfr {
    margin: 10px 0 10px 0;
}

.profile_header_actions {
    top: 10px;
    position: relative;
    height: 40px;
}

.commentthread_textarea {
    border: none;
}

.social-likes__widget {
    border-radius: 3px !important;
}

.discordImage {
    left: 6px;
    position: relative;
    width: 258px;
    border-radius: 3px;
    bottom: 14px;
}