$color-black = #000
$color-white = #fff

$color-main = #12151a
$color-main-transparent = rgba(18, 21, 26, .9)

$color-button = #08090b
$color-button-hover = #1c2129
$color-button-gradient-1 = #36bbf7
$color-button-gradient-2 = #702df9
