#footer
    .footer_content
        span#footerLogo
            img(src='./images/sapic.png', alt='Steam.Design', style='position:relative;left:40px;bottom:7px;', width='50', height='50', border='0')
        span#footerText
            | Copyright © 2019 Steam.Design
            br
            | Powered by Steam.
            br
            |  Made with love by 
            a(href='https://steamcommunity.com/id/truecarry') TrueCarry
            |  and 
            a(href='https://steamcommunity.com/id/theoddball')
                | The Oddball
            br
            a(style="cursor:pointer" href="/privacy_policy.pdf" target="_blank") Privacy Policy
            | &nbsp;&nbsp;
            a(style="cursor:pointer" onclick="window.__cmp('showConsentModal')") Manage Cookie Settings