.profile_group_links.profile_count_link_preview_ctn.responsive_groupfriends_element
    a.profile_video(href='https://steamlevels.com/r/steamdesign' target="_blank" rel="noopener noreferrer")
        video(src="images/steam_levels.mp4" playsinline loop muted autoplay)
    .profile_count_link.ellipsis
        span.partnerLabel Our Other Projects
    .profile_count_link_preview(style='margin-top:25px')
        .profile_group.profile_primary_group
            .profile_group_avatar
                a(href='https://center.steam.design/' target="_blank" rel="noopener noreferrer")
                    img(src='images/text-center.svg', width='64')
            a.whiteLink(href='https://center.steam.design/' target="_blank" rel="noopener noreferrer") Text Center Tool
            .profile_group_membercount Website that helps you center text in steam showcases.
            div(style='clear: left;')

        .profile_group.profile_primary_group
            .profile_group_avatar
                a(href='https://designerlist.guide/' target="_blank" rel="noopener noreferrer")
                    img(src='images/List.jpg', width='64')
            a.whiteLink(href='https://designerlist.guide/' target="_blank" rel="noopener noreferrer") Safe Designer List
            .profile_group_membercount A list of safe, verified artwork designers on Steam.
            div(style='clear: left;')
        .profile_group.profile_primary_group
            .profile_group_avatar
                a(href='https://avatarcropper.com/' target="_blank" rel="noopener noreferrer")
                    img(src='images/AvatarCropper.jpg', width='64')
            a.whiteLink(href='https://avatarcropper.com/' target="_blank" rel="noopener noreferrer") Quick Avatar Cropper
            .profile_group_membercount A small webpage that allows you to quickly crop avatars for many sites.
            div(style='clear: left;')
    .profile_count_link.ellipsis(style='margin-top:25px')
        span.partnerLabel Our Partners
    .profile_count_link_preview(style='margin-top:25px')
        .profile_group.profile_primary_group
            .profile_group_avatar
                a(href='https://www.steamladder.com/' target="_blank" rel="noopener noreferrer")
                    img(src='images/ladder.jpg')
            a.whiteLink(href='https://www.steamladder.com/' target="_blank" rel="noopener noreferrer") Steam Ladder
            .profile_group_membercount Leaderboard and ranking site for Steam profiles!
            div(style='clear: left;')
        .profile_group.profile_primary_group
            .profile_group_avatar
                a(href='https://steamcommunity.com/groups/ArtworkProfiles' target="_blank" rel="noopener noreferrer")
                    img(src='images/ap.jpg')
            a.whiteLink(href='https://steamcommunity.com/groups/ArtworkProfiles' target="_blank" rel="noopener noreferrer") Artwork Profiles
            .profile_group_membercount Celebrating the beauty of Steam profiles.
            div(style='clear: left;')
        .profile_group.profile_primary_group
            .profile_group_avatar
                a(href='https://www.steamwishlistcalculator.com/' target="_blank" rel="noopener noreferrer")
                    img(src='images/steamwishlist.png')
            a.whiteLink(href='https://www.steamwishlistcalculator.com/' target="_blank" rel="noopener noreferrer") Steam Wishlist Calculator
            .profile_group_membercount Calculate the total cost of your Steam wishlist!
            div(style='clear: left;')
        .profile_group.profile_primary_group
            .profile_group_avatar
                a(href='https://steamlevels.com/r/steamdesign' target="_blank" rel="noopener noreferrer")
                    img(src='images/steamlevels.jpg')
            a.whiteLink(href='https://steamlevels.com/r/steamdesign' target="_blank" rel="noopener noreferrer") SteamLevels
            .profile_group_membercount A fast and extremely easy way to level up your profile!
            div(style='clear: left;')