.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.itemHolder {
    position: relative;
    width: 98px;
    height: 98px;
    background-color: #333333;
    // background-image: url('https://steamcommunity-a.akamaihd.net/public/images/economy/trade_itemholder.png');
    background-repeat: no-repeat;
    background-position: center top;
    float: left;
    margin-right: 6px;
    margin-bottom: 6px;
}

.market_dialog_content {
    padding: 11px;
}