/*
 Font: 		Motiva Sans
 URL: 		https://www.youworkforthem.com/product.php?sku=T2982
 Foundry: 	Niramekko
 Foundry: 	https://www.youworkforthem.com/designer/293/niramekko
 Copyright:	Copyright  2011 by Rodrigo Saiani. All rights reserved.
 Version: 	1.0
 Created:	August 09, 2012
 License: 	https://www.youworkforthem.com/font-license
 License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			 WebFont license rules. All other parties are strictly restricted
			 from using the WebFonts(s) listed without a purchased license.
			 All details above must always remain unaltered and visible in your CSS.
 */

// @font-face {
//     font-family: 'Motiva Sans';
//     src: url('../fonts/motiva-sans.eot');
//     src: url('../fonts/motiva-sans-ie.eot') format('embedded-opentype'), url('../fonts/motiva-sans.woff') format('woff'), url('../fonts/motiva-sans.ttf') format('truetype'), url('../fonts/motiva-sans.svg') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'Motiva Sans Thin';
    src: url('../fonts/motiva-sans-thin.eot');
    src: url('../fonts/motiva-sans-thin-ie.eot') format('embedded-opentype'), url('../fonts/motiva-sans-thin.woff') format('woff'), url('../fonts/motiva-sans-thin.ttf') format('truetype'), url('../fonts/motiva-sans-thin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
