#global_header,
.global_header.content,
#footer,
#cardsList
    background-color #12151a !important

.profile_header_bg
    background rgba(18, 21, 26, 0.8)
    background-image none

.profile_header_bg_texture
    background transparent

.profile_background_overlay_content
    background rgba(18, 21, 26, 0.8)
    opacity 1.1

.profile_background_image_content
    background-position center -240px

.profile_customization
    background-color transparent
    background-image none

.profile_customization_header
    height 30px !important

.profile_content
    margin-top 0px !important
    padding-top 0px !important

.btn_profile_action
    background #08090b
    border 2px
    transition all 0.25s ease
    &:hover
        background #1c2129
        transition all 0.25s ease
    & > span
        background none !important

.playerAvatar
    background none !important

#avatar
    border-radius 5px

.saveButton
    left 5px
    position relative
    width 256px
    height 100%
    text-align center
    background linear-gradient(45deg, #36bbf7 0%, #702df9 100%) !important
    transition all 0.25s ease
    opacity 0.9
    & > span
        background none !important
        top -36px
        opacity 1
        position relative
        font-size 17px
        background none
    &:hover
        transition all 0.25s ease
        opacity 1

.saveButtonShadow
    background linear-gradient(45deg, #36bbf7 0%, #702df9 100%)
    filter blur(12px)
    position relative
    right 1px
    height 42px
    width 258px

.bgUrl
    text-align center

.profile_header_badgeinfo
    position relative
    top 63px

#filterIn
    border none
    background #08090b
    outline none
    opacity 1
    transition all 0.25s ease

.filterHide
    opacity 0
    transition all 0.25s ease

.underfr
    margin 10px 0 10px 0
    & > a
        & > img
            width 258px
            position relative
            left 6px

.profile_header_actions
    top 10px
    position relative
    height 40px

.commentthread_textarea
    border none

.social-likes__widget
    border-radius 3px !important

.discordImage
    left 6px
    position relative
    width 258px
    border-radius 3px
    bottom 14px

.kofi-button
    height 21px

.kofidescription
    // position relative 
    // bottom 7px
    margin-top 4px
    margin-left 5px

.kofitext
    display flex

.kofiimg
    // position relative
    // top 1px
    margin-top 4px
    height 15px
    width 22px

.kofi-btn-container 
    display inline-block
    white-space nowrap
    min-width 160px
    margin-right 1em
    margin-left 1em
    padding 0 12px
    background #08090b
    border-radius 7px
    height 25px

.social-likes .social-likes__widget
    margin 0 5px 0 5px

.profile_summary_social
    display: flex

.profile_summary_social .social-likes
    margin 0
    min-height: 20px


.profile_count_link
    margin-bottom 0 !important
    min-height 0 !important
    text-align center

.partnerLabel
    font-size 16px
    color white

.profile_primary_group
    text-align center
    width 184px

.profile_group_avatar
    left 5px

.bb_h1
    text-align center

#shareURL
    border none
    background-color transparent

.screenshot_showcase_screenshot
    border 1px transparent
    border-radius 5px
    cursor auto
    &:hover
        border 1px transparent

.imageGrabber
    height 15px
    position relative
    cursor n-resize
    top calc(100% - 20px)

.gray_bevel
    margin-top 4px
    height 26px !important
    border none
    box-shadow none
    outline none
    padding 5px 6px

.discordImage,
.profile_group_avatar,
.saveButton
    transition all 0.4s ease-in-out

.discordImage:hover,
.profile_group_avatar:hover,
.saveButton:hover
    transform scale(1.01) rotate(.000001deg)